* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    z-index: 100;
}

a {
    color: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    font-size: 10px;
    font-family: 'Open Sans', sans-serif;
    background: rgba(30, 30, 30, 1);
    color: rgba(255, 255, 255, 0.8);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

#bg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    overflow: hidden !important;
}

.profile-image {
    border-radius: 50%;
    width: 24rem;
}

.name {
    font-size: 8rem;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
}

li {
    font-size: 4rem;
    margin-left: 1.8rem;
    color: rgba(255, 255, 255, 0.8);
}

li:first-child {
    margin-left: 0;
}

.github:hover {
    color: rgba(255, 255, 255, 0.30);
}

.twitter:hover {
    color: rgba(85, 172, 238, 1);
}

.linkedin:hover {
    color: rgba(0, 123, 181, 1);
}

.email:hover {
    color: rgb(221, 93, 78);
}

@media (max-width: 768px) {
    html,
    body {
        font-size: 6px;
    }
    ul {
        margin-top: 2rem;
    }
    li {
        font-size: 6rem;
        margin-left: 4rem;
    }
}
