* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  z-index: 100;
}

a {
  color: inherit;
}

html,
body {
  width: 100%;
  height: 100%;
  font-size: 10px;
  font-family: sans-serif;
  background: rgba(30, 30, 30, 1);
  color: rgba(255, 255, 255, 0.8);
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.hidden {
  display: none;
}

#bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  overflow: hidden !important;
  filter: blur(5px);
}

.profile-picture :is(img, source) {
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.034);
}

hgroup {
  max-width: 52rem;
  margin: 0 auto;
}

.name {
  height: 10rem;
}

.name svg {
  fill: white;
}

.title {
  font-size: 2rem;
  font-weight: lighter;
  position: relative;
  margin: 1rem 0;
}

.title::before, .title::after {
  content: ' ';
  
  display: block;
  width: 32%;

  position: absolute;
  top: 1.2rem;
  z-index: -1;
  
  border-bottom: 1px solid rgba(255, 255, 255, 0.8);
}
.title::before {
  left: 0;
}
.title::after {
  right: 0;
}

ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style: none;
}

li {
  font-size: 4rem;
  margin-left: 2rem;
}

li:first-child {
  margin-left: 0;
}

li svg {
  width: 4rem;
  height: 4rem;
  fill: rgba(255, 255, 255, 0.8);
}

.github:hover svg {
  fill: rgba(255, 255, 255, 0.3);
}

.linkedin:hover svg {
  fill: rgba(0, 123, 181, 1);
}

.twitter svg {
  transform: translateY(4px);
}

.twitter:hover svg {
  fill: rgba(85, 172, 238, 1);
}

.email svg {
  transform: translateY(5px);
}
.email:hover svg {
  fill: rgb(221, 93, 78);
}

@media (max-width: 768px) {
  html,
  body {
    font-size: 6px;
  }
  ul {
    margin-top: 3rem;
  }
  li {
    margin-left: 4rem;
  }
  li svg {
    width: 5rem;
    height: 5rem;
  }
  hgroup {
    max-width: 48rem;
  }
  .name {
    margin-top: 2rem;
  }
}
